.shadow {
    box-shadow: 0 6px 15px rgba(206, 212, 218, .3);
}

.container {
    display: flex;


}

.imgContainer {
    width: 40%;
}

.navbar {
    margin: 20px;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    /* margin-left: 400px; */



}

.button {
    padding: 10px;
    color: black;
    margin-top: -10px;
    background-color: orangered;
    border-radius: 20px;
}

.structure {
    width: 50%;
    justify-content: center;
    margin: 50px;
    text-align: center;
}

.intro {
    justify-content: center;
    color: grey;
    text-align: center;
    margin-top: 250px;
    font-size: 30px;
}

.intro h1 {
    color: black;
}

.column {
    display: flex;
    text-align: center;
    gap: 60px;
    justify-content: center;
    border-right: #343A40;
    border-radius: 50px;
    width: 50%;
    background-color: #dee2e6;
    margin-left: 400px;
    box-shadow: 0 0 30px rgba(173, 181, 189, .4);
    margin-top: 40px;
}

.column1 {
    border-right: 1px solid #343A40;
    /* box-shadow: 1px solid #343A40; */
    width: 250px;

}

.column3 {
    border-right: 0;
}

.button2 {

    display: flex;
    margin-left: 250px;
    gap: 20px;
}

.click1 {
    border-radius: 100px;
    background-color: orangered;
    width: 100px;
    height: 40px;
    /* text-align: left; */
}

.click2 {
    border-radius: 100px;
    background-color: orangered;

    text-align: left;
}

.logos {
    gap: 5px;
    display: flex;
    margin-top: 20px;
    justify-content: center;

}

.write {
    text-align: center;
    justify-content: center;
}

.boxes {
    margin-left: 120px;
    display: flex;
    /* border-radius: 1px solid black; */
    box-shadow: 1px solid black;
    gap: 20px;
    margin-top: 150px;
    
}
.box1{
    box-shadow: x solid black ;
     height: 200px; width: 300px; background-color:
white ;    border: 2px solid #ff7a57 ;
}

.boxes .box1:hover {
    color: #ff7a57;
    cursor: pointer;
    background-color: #ff7a57;
    

}


.james.p {
    font-size: 50px;
}

.choose{
    text-align: center;
    justify-content: center;
}
.border{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
.bob1
{
    position: relative;
}
.bob1 div
{
    
    background-color: rgba(255, 0, 0, 0.403);
    width: 300px;
    /* height: 300px; */
    position: absolute;
    top:0;
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #dee2e6;
    height: 0;
    transition: height 0.1s;
    font-size: 20px;

}

.bob1:hover div{
     display: flex; 
    cursor: pointer;
    height: 100%;

    transition: height 0.4s;
}
.testmonial{
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}
.card-body{
    height: 400px;
    width: 600px;
    /* display: flex; */
     box-shadow: 2px 3px 10px rgba(206,212,218,.3) ;
     border-radius: 10px;
     margin-left: 450px;
     margin-top: 100px;
}
.vlog{
    text-align: center;
    margin-top: 100px;
}
.latest-box{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 150px;
    margin-top: 100px;
   
    gap: 20px;
    

}
.latest1{
    border-color: black;
    box-shadow: 2px 3px 10px rgba(206, 212, 218, 0.011) ;
    border-radius: 20px;
    height: 277px;
    width: 392px;
}
.latest2{
    box-shadow: 2px 3px 10px rgba(206, 212, 218, 0.011) ;
    border-radius: 20px;
    height: 277px;
    width: 392px;
}
.latest3{
    box-shadow: 2px 3px 10px rgba(206, 212, 218, 0.011) ;
    border-radius: 20px;
    height: 277px;
    width: 392px;
}
.hire-me{


    height: 150px;
    width: 1250px;
    background-color: #ff7a57;
    box-shadow: 2px 3px 10px rgba(206, 212, 218, 0.011) ;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 100px;
}
.contact{
margin-top: 150px;
justify-content: center;
text-align: center;
}
.fom1{
    /* height: 500px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 2px 3px 10px rgba(206, 212, 218, 0.011);
    border-color: black; */
    position: relative;
    border-radius: 0.3rem;
    border: 1px solid 1px;
    box-shadow: 1px 2px 6px rgba(173,181,189,.5);
    padding: 0 30px 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-width: 1000px;
    margin: 0 auto 150px;
    z-index: 99;
    background: #fff;
    height: 500px;
    gap: 20px;
    width: 50%;
}

.form{
    border-right: 1px solid;
   
} 
.form-control{
    
        display: block;
        width: 100%;
        height: calc(1.5em + 1.3rem + 2px);
        padding: 0.65rem 0.9rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    gap: 10px;
}
 .form .form-group{
    gap: 20px;
    margin: 20px;
    border-right: #343A40;
    width: 80%;
}
.location{
   margin: 20px;
   margin-top: 100px;
   line-height: 1.5;
   border-bottom: 10px #343A40;
   
}
.end{
    display: flex;
    height: 300px;
}